/***** Colors *****/
$black: #000;
$white: #fff;
$off-white: #ededed;
$light-gray: #616161;
$lighter-gray: #c3c4c5;
$dark-blue: #1d4b5e;
$twitter-blue: #1da1f2;
$linkedin-blue: #0077b5;
$github-black: #24292e;

// NOTE: There are Microsoft-specific CSS rules
// where the 2 gradient hex codes below are still written out
$gradient-dark-blue: #346c85;
$gradient-light-blue: #529ec0;
$light-yellow: #fffbcb;
$salmon: #fedbb4;
$gold: #d18c24;

// Green success colors
$success-font: #3c763d;
$success-bg: #dff0d8;
$success-border: #d6e9c6;

// Red danger colors
$danger-font: #a94442;
$danger-bg: #f2dede;
$danger-border: #ebccd1;