/***** Colors *****/
$black: #000;
$white: #fff;
$off-white: #ededed;
$light-gray: #616161;
$lighter-gray: #c3c4c5;
$dark-blue: #1d4b5e;
$twitter-blue: #1da1f2;
$linkedin-blue: #0077b5;
$github-black: #24292e;

// NOTE: There are Microsoft-specific CSS rules
// where the 2 gradient hex codes below are still written out
$gradient-dark-blue: #346c85;
$gradient-light-blue: #529ec0;
$light-yellow: #fffbcb;
$salmon: #fedbb4;
$gold: #d18c24;

// Green success colors
$success-font: #3c763d;
$success-bg: #dff0d8;
$success-border: #d6e9c6;

// Red danger colors
$danger-font: #a94442;
$danger-bg: #f2dede;
$danger-border: #ebccd1;

/***** Mixins *****/
@mixin category-chooser-links($radius) {
  border-radius: $radius;
  display: inline-block;
  width: 30%;
  padding: 0 2% 0 0;
}

@media screen {
  /***** HTML & BODY Tags *****/
  html {
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 320px;
    overflow-x: hidden;
  }

  body {
    padding: 20px 0 40px;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: $black;
  }

  /***** General ******/
  h1 {
    color: $light-gray;
    font-size: 50px;
    font-weight: normal;
    line-height: 60px;
    margin: 17px 0 0;
    max-width: 635px;
    overflow: auto;
  }

  h2 {
    color: $light-gray;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin: 27px 0 20px;
    max-width: 635px;
  }

  .h2-large {
    display: inline-block;
    color: $light-gray;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 10px;
  }

  h3 {
    color: $light-gray;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    margin: 27px 0 20px;
    max-width: 635px;
  }

  .h3-inline {
    display: inline-block;
    color: $light-gray;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    margin: 0 0 10px;
    max-width: 635px;
  }

  p {
    color: $black;
    margin-top: 10px;
    text-align: left;
  }

  a:link,
  a:visited {
    color: $dark-blue;
    text-decoration: underline;
  }

  a:hover,
  a:active {
    color: $dark-blue;
    text-decoration: none;
  }

  a:focus {
    outline: 2px dotted $black;
  }

  img {
    border: none;
  }

  .center {
    text-align: center;
  }

  .show-screenreader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin-top: -20px;
    text-indent: -9999px;
  }

  .hide-override {
    display: none !important;
  }

  .show-override {
    display: block !important;
  }

  .show-inlineblock-override {
    display: inline-block !important;
  }

  hr {
    border: none;
    border-bottom: dashed 1px $light-gray;
    padding: 10px 0 0;
  }

  #to-top {
    display: block;
    padding: 20px 0 0;
    margin: 0;
    position: absolute;
    bottom: 0;
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  .float-center {
    display: block;
    margin: 0 auto;
  }

  .alignleft {
    float: left;
    clear: right;
    display: block;
  }

  .alignright {
    float: right;
    clear: left;
    display: block;
    margin: 0 0 0 20px;
  }

  .aligncenter {
    display: block;
    margin: 0 auto;
  }

  .wp-caption-text {
    font-style: italic;
    margin: 0;
    padding: 0;
  }

  input {
    border: 2px solid $lighter-gray;
    height: 30px;
    margin: 0 10px 10px 0;
  }

  textarea {
    border: 2px solid $lighter-gray;
    margin: 0 0 10px;
  }

  .clear {
    clear: both;
  }

  .display-inline {
    display: inline;
  }

  .twitter-blue {
    color: $twitter-blue;
  }

  .twitter-blue-hover {
    &:hover,
    &:active {
      color: $twitter-blue;
    }
  }

  a.no-link-underline {
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none !important;
    }
  }

  /***** HTML5 Citation Styles ******/
  span.author {
    display: block;
  }

  cite {
    display: block;
    font-style: italic;
  }

  /***** Home ******/
  .home h1 {
    font-size: 24px;
    line-height: 30px;
    margin: 20px auto;
    text-align: center;
  }

  .home p {
    text-align: center;
  }

  .home hr {
    margin-bottom: 32px;
  }

  .portfolio-list {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }

  .portfolio-list li {
    display: block;
    height: 220px;
    text-align: center;
    width: 211px;
    float: left;
  }

  .portfolio-list a {
    color: $black;
    text-decoration: none;
    display: block;
    padding: 5px 8px 5px 5px;
  }

  .portfolio-list img:hover,
  .portfolio-list img:active {
    opacity: 0.5;
  }

  #choose-project-categories {
    a {
      display: inline-block;
      width: 30%;
      padding: 0 2% 0 0;
    }

    h2 label {
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
    }
  }

  #portfolio-project-chooser {
    appearance: none;
    border: 2px solid $lighter-gray;
    border-radius: 0;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    user-select: none;
    background-image: url('../../images/select-mobile-arrow.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-color: $off-white;
    color: $black;
    margin: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    width: 280px;
    text-indent: 20px;
    display: block;
  }

  #portfolio-project-chooser::-ms-expand {
    display: none;
  }

  #featured-projects-section,
  #all-projects-section {
    clear: both;
  }

  /***** Resume ******/
  .resume {
    #site-content-container {
      ul {
        clear: both;
        float: left;
        width: 100%;
        display: block;
        margin-right: 25px;
      }

      li {
        clear: both;
        margin: 0 25px 2px 0;
      }

      ol {
        margin-right: 25px;
      }

      h2 {
        margin: 27px 0 10px;
      }

      h3 {
        margin: 10px 0 20px;
      }
    }
  }

  .per80 {
    display: inline-block;
    width: 80%;
    vertical-align: text-top;
    overflow: hidden;
  }

  .per70 {
    display: inline-block;
    width: 70%;
    vertical-align: text-top;
    overflow: hidden;
  }

  .per30 {
    display: inline-block;
    width: 30%;
    vertical-align: text-top;
    overflow: hidden;
  }

  .per20 {
    display: inline-block;
    width: 20%;
    vertical-align: text-top;
    overflow: hidden;
  }

  /***** Blog ******/

  .post-wrapper {
    h2 {
      span.post {
        font-size: 13px;
        line-height: 18px;

        a {
          &:link,
          &:visited {
            color: $dark-blue !important;
            text-decoration: underline !important;
          }

          &:hover,
          &:active {
            color: $dark-blue !important;
            text-decoration: none !important;
          }
        }
      }

      a {
        &:link,
        &:visited {
          color: $light-gray !important;
          text-decoration: none !important;
        }

        &:hover,
        &:active {
          color: $dark-blue !important;
          text-decoration: none !important;
        }
      }
    }

    hr.first-post {
      display: none;
    }

    blockquote {
      padding: 0;
      border-left: 0;

      p {
        display: inline-block;
        padding-top: 10px;
        font-size: 25px;

        &:hover,
        &:active {
          color: $twitter-blue;
        }
      }

      span.dashicons {
        font-size: 45px;
        padding-right: 45px;
        display: block;
        float: left;
      }

      p.click-to-tweet {
        padding-left: 65px;
        display: block;
        font-size: 16px;
      }
    }
  }

  .post-edit-link {
    clear: both;
    display: block;
  }

  /***** Blog pagination *****/
  .blog {
    #sidebar {
      margin-top: 20px;
    }

    #site-content {
      h1 {
        padding-top: 10px;
      }
    }

    .wp-caption-text {
      display: none;
    }

    .navigation {
      margin-top: 18px;

      .blog-nav {
        display: inline-block;
      }

      .prev-posts {
        margin-right: 50%;
      }
    }
  }

  /***** Portfolio Feed ******/
  .portfolio-feed-post {
    display: none;
  }

  body.category-portfolio-feed #sidebar,
  body.category-portfolio-feed h1 {
    display: none;
  }

  body.category-portfolio-feed .post-wrapper h1 {
    display: block;
    margin-bottom: 25px;
  }

  body.category-portfolio-feed .portfolio-feed-post {
    display: block;
  }

  body.category-portfolio-feed .post-wrapper h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin: 27px 0 20px;
    max-width: 635px;
  }

  body.category-portfolio-feed #blog-spacer,
  body.portfoliopost-template-default #blog-spacer {
    display: none;
  }

  /***** Clearfix ******/
  .clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .clearfix {
    zoom: 1;
  }

  /****** Hide Mobile & Tablet Elements on Desktop ******/
  #mobile-site-header,
  #mobile-site-header-mid-line,
  #mobile-site-header-inner-line {
    display: none;
  }

  /****** Desktop & Tablet Layout Borders ******/

  /* Header */
  .container-narrow {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 960px;
  }

  #site-header {
    display: block;
    margin: 0;
    border-top: 2px solid $lighter-gray;
    border-right: 2px solid $lighter-gray;
    border-bottom: none;
    border-left: 2px solid $lighter-gray;
    border-radius: 150px 0 0;
    max-width: 920px;
    min-height: 175px;
    box-shadow: 2px 4px 4px $black;
  }

  #site-header-mid-line {
    display: block;
    margin: 6px 6px 0;
    max-width: 908px;
    min-height: 175px;
    border-radius: 143px 0 0;
    border-top: 2px solid $gold;
    border-right: 2px solid $gold;
    border-bottom: none;
    border-left: 2px solid $gold;
  }

  #site-header-inner-line {
    display: block;
    max-width: 892px;
    height: 161px;
    border-radius: 136px 0 0;
    border-top: 2px solid $lighter-gray;
    border-right: 2px solid $lighter-gray;
    border-bottom: none;
    border-left: 2px solid $lighter-gray;
    margin: 6px 6px 0;
  }

  // Social networks
  #social-networks-wrapper {
    width: 70%;
    font-weight: bold;
    display: block;
    padding: 0 0 10px;
    margin: 0 auto;
    font-size: 12px;

    #social-networks-inner {
      float: right;

      a {
        margin: 0 0 0 10px;
        display: inline-block;
      }

      i {
        font-size: 45px;
      }

      .linkedin-icon i {
        color: $linkedin-blue;
      }

      .github-icon {
        color: $github-black;
      }
    }
  }

  // Logo
  #logo-wrapper {
    padding-top: 20px;
  }

  #logo {
    background: url('../../images/all-web-pages-sprite.png') top left no-repeat;
    display: block;
    position: absolute;
    width: 295px;
    height: 97px;
    margin: 0 auto;
    padding: 0;
    right: 0;
    left: 0;
    text-indent: -9999px;
  }

  /* Navigation */
  #nav-bar {
    display: block;
    width: 100%;
    min-height: 35px;
    margin: -16px 0 -27px;
    overflow: auto;
    background: #1d4b5e;
    box-shadow: 0 2px 4px $black;
  }

  #nav-bar .container-narrow {
    height: 35px;
    overflow: hidden;
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 530px;
  }

  .nav {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    width: auto;
    text-align: center;
    display: inline-block;
    height: 35px;
  }

  .nav li {
    float: left;
    display: inline;
    padding: 8px 7px 10px;
    color: $white;
  }

  .nav li a {
    font-size: 20px;
    line-height: 20px;
    border-radius: 0;
    color: $salmon;
    text-decoration: none;
    background: none;
    display: block;
  }

  .nav li a:hover {
    color: $light-yellow;
    background: none;
  }

  .nav li a:focus {
    outline: 2px dotted $white;
  }

  .nav .active a,
  body.single .nav .menu-item-blog a,
  body.archive .nav .menu-item-blog a,
  body.search .nav .menu-item-blog a {
    color: $light-yellow;
  }

  body.category-portfolio-feed .nav .menu-item-blog a {
    color: $salmon;
  }

  body.category-portfolio-feed .nav .menu-item-blog a:hover,
  body.category-portfolio-feed .nav .menu-item-29 a {
    color: $light-yellow;
  }

  // For "portfoliopost" post types (single portfolio project posts)
  // make the "Portfolio" nav item light up and NOT "Blog"
  body.single-portfoliopost {
    .nav .menu-item-blog a {
      color: $salmon;

      &:link,
      &:visited {
        color: $salmon;
      }

      &:hover,
      &:active {
        color: $light-yellow;
      }
    }

    .nav .menu-item-home a {
      color: $light-yellow;

      &:link,
      &:visited {
        color: $light-yellow;
      }

      &:hover,
      &:active {
        color: $light-yellow;
      }
    }
  }

  /***** Content *****/
  #site-content {
    display: block;
    border-top: none;
    border-right: 2px solid $lighter-gray;
    border-bottom: 2px solid $lighter-gray;
    border-left: 2px solid $lighter-gray;
    border-radius: 0 0 150px;
    max-width: 920px;
    min-height: 175px;
    box-shadow: 2px 4px 4px $black;
    margin: 0;
  }

  /* Home & Blog including Archive, Post, Categories, etc. START */
  .home #site-content,
  .blog #site-content,
  .archive #site-content,
  .category #site-content,
  .single #site-content,
  .single-post #site-content,
  .search #site-content {
    margin: 0;
  }

  /* Home & Blog including Archive, Post, Categories, etc. END */

  #site-content-mid-line {
    display: block;
    margin: 0 6px 6px;
    max-width: 908px;
    min-height: 175px;
    border-radius: 0 0 143px;
    border-top: none;
    border-right: 2px solid $gold;
    border-bottom: 2px solid $gold;
    border-left: 2px solid $gold;
  }

  #site-content-inner-line {
    display: block;
    position: relative;
    max-width: 892px;
    min-height: 175px;
    border-radius: 0 0 136px;
    border-top: none;
    border-right: 2px solid $lighter-gray;
    border-bottom: 2px solid $lighter-gray;
    border-left: 2px solid $lighter-gray;
    margin: 28px 6px 6px;
  }

  #site-content-container {
    display: block;
    position: relative;
    max-width: 635px;
    min-height: 100px;
    margin: 0 auto;
    padding: 0 0 40px;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-x: hidden;

    img {
      border: 2px solid $light-gray;
    }
  }

  .blog-site-content-container {
    overflow: visible !important;
    overflow-x: visible !important;
    -ms-overflow-x: visible !important;
  }

  /***** Footer *****/
  #footer {
    bottom: 0;
    clear: both;
    height: 75px;
    position: relative;
    width: 100%;
  }

  #footer p {
    bottom: -35px;
    color: $light-gray;
    padding: 0;
    position: relative;
    text-align: center;
  }

  /***** Sidebar Blog Search & Categories  *****/
  #sidebar {
    background: $white;
    border: 2px solid $lighter-gray;
    border-radius: 70px 0;
    color: $black;
    display: block;
    float: right;
    min-height: 220px;
    position: absolute;
    right: -184px;
    top: 0;
    width: 155px;
    z-index: 50;

    #search-label label {
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      padding-top: 50px;
    }

    #category-search-label {
      padding: 0 0 0 10px;
      margin-bottom: 5px;

      label {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
      }
    }
  }

  /* Make room for blog categories drop-down on desktop */
  #blog-spacer {
    color: $black;
    display: block;
    float: right;
    margin: 20px -38px 0 20px;
    min-height: 250px;
    width: 50px;
  }

  /* General Widget CSS */
  .widget {
    padding: 0 0 20px;
  }

  /* Blog Sidebar & Widgets */
  .widget_search {
    margin: 0;
  }

  .widget_search #s {
    border: 2px solid $lighter-gray;
    border-radius: 0;
    display: block;
    height: 30px;
    margin: 5px 0 10px 10px;
    width: 120px;
  }

  .widget_search #searchsubmit {
    background: none repeat scroll 0 0 $off-white;
    border: 2px solid $lighter-gray;
    border-radius: 0;
    font-size: 14px;
    margin: 0 0 0 10px;
  }

  #sidebar h2 {
    margin: 0 0 0 10px;
  }

  #sidebar ul {
    list-style-position: outside;
    margin: 0 0 45px;
    padding: 0 0 0 25px;
  }

  #sidebar ul li {
    margin: 0 0 5px;
    color: $light-gray;
  }

  #categories-dropdown-2 {
    display: none;
  }

  /* Hide Categories Dropdown on Desktop */
  #categories-dropdown-2 {
    display: none;
  }

  /* Responsive Videos */
  .youtube-responsive-container {
    position: relative;
    padding-bottom: 55%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .youtube-responsive-container iframe,
  .youtube-responsive-container object,
  .youtube-responsive-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // 404 Error Page
  body.error404 {
    #sidebar {
      display: none;
    }
  }
} /* END screen media */

/***** 1005px Break Point *****/
@media all and (width <= 1005px) {
  .blog-site-content-container {
    min-height: 175px !important;
  }

  /***** Blog & Blog Posts  *****/
  #sidebar {
    border: none;
    border-radius: 0;
    margin: 20px 0 0;
    position: absolute;
    right: 0;
    z-index: 10;
    height: 155px;
    min-height: 155px;

    #search-label label {
      padding-top: 0;
    }
  }

  .widget_search {
    margin: -45px 0 0;

    #s {
      margin: 50px 0 10px 10px;
    }
  }

  #sidebar form#blog-search-form input {
    width: 120px;
    height: 25px;
    display: block;
    color: $black;
    border: 2px solid $lighter-gray;
    margin: 0 0 10px 10px;
  }

  #sidebar form#blog-search-form button {
    display: block;
    border-radius: 0;
  }

  #sidebar ul#categories-desktop {
    display: none;
  }

  /* Hide Categories Unordered List in on Tablets/Mobiles */
  #categories-2 {
    display: none;
  }

  #categories-dropdown-2 {
    display: block;
    margin: -10px 0 0;
    padding: 0;
  }

  #categories-dropdown-2 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid $lighter-gray;
    border-radius: 0;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    user-select: none;
    background-image: url('../../images/select-mobile-arrow.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-color: $off-white;
    color: $black;
    font-size: 14px;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 136px;
    max-width: 136px;
    margin: 0 0 0 10px;
  }

  #categories-dropdown-2 option {
    padding: 0 0 0 10px;
  }

  /* Make room for blog categories drop-down on tablet & mobile */
  #blog-spacer {
    clear: left;
    display: block;
    float: right;
    height: 155px;
    margin: 8px 0 0;
    min-height: 220px;
    width: 155px;
  }

  .widget {
    padding: 0;
  }
}

/***** 830px Break Point *****/
@media all and (width <= 830px) {
  // General
  .hide-text-830px {
    text-indent: -9999px;
  }
}

/***** Mobile Phone & Tablet Styles  *****/
@media all and (width <= 767px) {
  /***** HTML & BODY Tags *****/
  body {
    padding: 0;
    height: 100vh;
  }

  /***** General *****/
  .hide-text-mob {
    text-indent: -9999px;
  }

  h1 {
    margin: 18px 0 0;
  }

  /****** Elements Visible on Mobile & Tablet Devices ******/
  #mobile-site-header {
    background: $lighter-gray;
    padding: 0;
    margin: 3px 0;
    height: 2px;
    width: 100%;
    display: block;
  }

  #mobile-site-header-mid-line {
    background: $gold;
    padding: 0;
    margin: 3px 0;
    height: 2px;
    width: 100%;
    display: block;
  }

  #mobile-site-header-inner-line {
    background: $lighter-gray;
    padding: 0;
    margin: 0;
    height: 2px;
    width: 100%;
    display: block;
  }

  #mobile-site-footer {
    background: $lighter-gray;
    padding: 0;
    margin: 3px 0;
    height: 2px;
    width: 100%;
    display: block;
  }

  #mobile-site-footer-mid-line {
    background: $gold;
    padding: 0;
    margin: 3px 0;
    height: 2px;
    width: 100%;
    display: block;
  }

  #mobile-site-footer-inner-line {
    background: $lighter-gray;
    padding: 0;
    margin: 0;
    height: 2px;
    width: 100%;
    display: block;
  }

  .alignleft,
  .alignright {
    display: block;
    float: none;
    margin: 0 auto;
    clear: both;
  }

  /***** Header *****/
  #site-header {
    margin: 0;
    border: none;
    border-radius: 0;
    min-height: 140px;
    box-shadow: none;
  }

  #site-header-mid-line {
    margin: 0;
    min-height: 140px;
    border-radius: 0;
    border: none;
  }

  #site-header-inner-line {
    max-width: 320px;
    width: 320px;
    height: 124px;
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0 auto;
    position: relative;
  }

  // Social networks
  #social-networks-wrapper {
    padding: 0;
    width: 100%;

    #social-networks-inner {
      margin: 0;
      width: 41px;
      position: absolute;
      right: 20px;
      top: 15px;

      a {
        display: block;
        margin: 0;
      }

      .first-social {
        padding: 0 0 15px;
      }
    }
  }

  // Logo
  #logo {
    position: absolute;
    display: block;
    width: 190px;
    height: 65px;
    top: 30px;
    left: 20px;
    right: auto;
    background-position: 0 -97px;
  }

  /***** Content *****/
  #site-content {
    display: block;
    border: none;
    margin: 0;
    border-radius: 0;
    max-width: 920px;
    min-height: 175px;
    box-shadow: none;
  }

  #site-content-mid-line {
    display: block;
    margin: 0;
    min-height: 175px;
    border-radius: 0;
    border: none;
  }

  #site-content-inner-line {
    display: block;
    position: relative;
    min-height: 175px;
    border-radius: 0;
    border: none;
    margin: 0;
  }

  #site-content-container {
    min-height: 175px;
  }

  /***** Nav *****/
  #nav-bar {
    margin: -16px 0 0;
  }

  .nav li {
    padding: 8px 5px 10px;
  }

  .nav li a {
    font-size: 16px;
  }

  /***** Footer *****/
  #footer {
    bottom: 0;
    clear: both;
    height: 75px;
    position: relative;
    width: 100%;
  }

  #footer p {
    bottom: -15px;
  }

  /***** Home *****/
  .portfolio-list {
    display: block;
    text-align: center;

    li {
      float: none;
      margin: 0 auto;

      img {
        &:hover,
        &:active {
          opacity: 1;
        }
      }
    }
  }

  .portfolio-list img:hover,
  .portfolio-list img:active {
    opacity: 1;
  }

  #portfolio-project-chooser {
    margin: 0 auto;
  }

  /***** Resume *****/
  .per80 {
    width: 100%;
    overflow: hidden;
  }

  .per70 {
    width: 100%;
    overflow: hidden;
  }

  .per30 {
    width: 100%;
    overflow: hidden;
  }

  .per20 {
    width: 100%;
    overflow: hidden;
  }
}

@media print {
  .do-not-print {
    display: none;
  }

  #comments {
    page-break-before: always;
  }

  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.4;
    word-spacing: 1.1pt;
    letter-spacing: 0.2pt;
    font-family: Garamond, 'Times New Roman', serif;
    color: $black;
    background: none;
    font-size: 12pt;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Helvetica, Arial, sans-serif;
  }

  h1 {
    font-size: 19pt;
  }

  h2 {
    font-size: 17pt;
  }

  h3 {
    font-size: 15pt;
  }

  h4,
  h5,
  h6 {
    font-size: 12pt;
  }

  code {
    font: 10pt Courier, monospace;
  }

  blockquote {
    margin: 1.3em;
    padding: 1em;
  }

  img {
    display: block;
    margin: 1em 0;
  }

  a img {
    border: none;
  }

  table {
    margin: 1px;
    text-align: left;
  }

  th {
    border-bottom: 1px solid #333;
    font-weight: bold;
  }

  td {
    border-bottom: 1px solid #333;
  }

  th,
  td {
    padding: 4px 10px 4px 0;
  }

  caption {
    background: $white;
    margin-bottom: 2em;
    text-align: left;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  a {
    text-decoration: none;
    color: black;
  }
} /* END print media */
